<div class="row">
  <div class="col-md-6">
    <div><img [src]="myproduct.imgURL" class="w-100" alt=""></div>
  </div>
  <div class="col-md-6">
    <h1>{{myproduct.name}}</h1>
    <h1>{{myproduct.price}}</h1>
    <h1>{{myproduct.description}}</h1>
    <button class="btn btn-info mx-3" (click)="NextProduct(myproduct.id)">Next Product</button>
    <button class="btn btn-info mx-3" (click)="PrevProduct(myproduct.id)">previous Product</button>
    <button class="btn btn-danger" (click)="BackToPage()">Back To Products</button>
  </div>
</div>